*{
    padding: 0;
    margin: 0;
}


h1{
   
    
    font-size: 40px;
    margin-top: 10px;
    color: white;
    
   
}
#f{
    color: rgb(246, 59, 59);
}
header{
    display: flex;
    flex-direction: row;
   opacity: 0.6px;
}
#h{
    margin-right: 0px;
}
#j{
margin-left: 0px;
}
h2{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    color: white;
}



header{

    background-color:  #06389d;
    max-height: 70px;
    

   
    
}
#sign{
    text-align: center;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box{
    height: 450px;
    border:2px solid rgb(0, 0, 0);
    width: 330px;
border-radius: 30px;
    margin-left: 40%;
    margin-top: 30px;
   font-weight: bold;



    
    


}
#new{
    margin-top: 10px;
}
#text{
    margin-top: 20px;
}
#pass{
    margin-top: 20px;
}
form{
    margin-left: 25px;

}
#logo{
    height: 60px;
    width:60px;
    border-radius: 50%;
    margin-left: 0px;
    padding-left: 0px;
}
.head{
    display: flex;
    height:500px ;
    align-items: center;
}

.input{
    height: 35px;
    width: 230px;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 10px;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    
}
.rem{
    margin-top: 15px;

}
#link{
    margin-left: 12px;
    
   
}

#btn{
    border:2px solid rgb(0, 0, 0);
    color :white;
    font-size: 20px;
    
    
    background-color: rgb(0, 8, 223);
    height:50px ;
    width: 270px;
    text-align: center;
    margin-top: 15px;
    
    border-radius: 30px;
    transition:all 2s ease-in 0.25;

}
#log{
    color: white;
}
#btn:hover{
    background-color: rgb(224, 159, 72);
   
}
.reg{
    margin-top: 15px;
    font-weight: bold;
   
}
a{
    text-decoration: none;
    font-weight: bold;
}
#bca{
    text-align: center;
    font-size: 40px;
    margin-top: 45px;
    
}
.footer{
  text-align: center;
    margin-top: 50px;
}